#headline {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 10px rgb(11, 11, 11);
    ;
}

@media only screen and (max-width:650px) {
    #headline {
        font-size: 25px;

    }
}

@media only screen and (min-width:651px) and (max-width:800px) {
    #headline {
        font-size: 30px;

    }
}